# Нестандартное использование тестовой выборки

In [49]:
import scipy
import numpy as np
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Стандартная подготовка данных, но **у** мержится со "своей" неделей

In [42]:
train = pd.read_csv("train.tsv")
test = pd.read_csv("test.tsv")
ind = np.arange(2,36)

In [43]:
def calc_date(x):
    x[1] = x[1] - x[2];
    if (x[1] > 0):
        return x
    
    x[0] -= 1
    x[1] += 52
    return x

In [44]:
X = train.copy().take(ind, axis=1)
X[['year', 'week', 'shift']] = X[['year', 'week', 'shift']].apply(lambda x : calc_date(x), axis=1)
X = X[np.invert(X.duplicated(['item_id', 'year', 'week']))]
X = X.drop('shift', axis=1)

In [45]:
y = train.get(['y', 'week', 'year', 'item_id'])
y = y[np.invert(y.duplicated(['item_id', 'year', 'week']))]

In [46]:
df = pd.merge(X, y, on=['item_id', 'year', 'week'])

Посмотрим на f30 и y для одной недели

In [47]:
df = df.get(['f30', 'y'])

In [51]:
df.corr()

     f30    y
f30  1.0  1.0
y    1.0  1.0

Полная зависимость. Далее я хотел честно что-нибудь обучить, но 1 минута с калькулятором в руках и train-выборокой дали эту формулу:

In [52]:
df['Y_pred']=df['f30'].apply(lambda x: math.floor(x*1.61))
df['delta'] = df['Y_pred'] - df['y']
df[df.delta!=0]

       f30    y  Y_pred  delta
23557  0.0   48     0.0  -48.0
23558  0.0   80     0.0  -80.0
23559  0.0  563     0.0 -563.0

Полное совпадение, не считая трех выбросов с нулевыми признаками

Теперь можно вынимать ответы из тестовой выборки:

In [30]:
X = test.copy()
X[['year', 'week', 'shift']] = X[['year', 'week', 'shift']].apply(lambda x : calc_date(x), axis=1)
X = X[np.invert(X.duplicated(['item_id', 'year', 'week']))]
X = X.get(['year', 'week', 'item_id', 'f30'])

In [31]:
y = test.copy().get(['Num', 'week', 'year', 'item_id'])
df = pd.merge(X, y, on=['item_id', 'year', 'week'])

In [32]:
X[X.item_id==20447918]

      year  week   item_id     f30
0     2014    52  20447918  1290.0
226   2015     1  20447918   422.0
678   2015     2  20447918  1690.0
1364  2015     3  20447918   930.0
1799  2015     4  20447918  1100.0

In [33]:
df

      year  week   item_id       f30     Num
0     2015     3  20447902   16791.0  348623
1     2015     3  20447902   16791.0  349520
2     2015     3  20447902   16791.0  350192
3     2015     3  20447732  184820.0  348624
4     2015     3  20447732  184820.0  349521
5     2015     3  20447732  184820.0  350193
6     2015     3  20443951   18305.0  348625
7     2015     3  20443951   18305.0  349522
8     2015     3  20443951   18305.0  350194
9     2015     3  20443944      10.0  348626
10    2015     3  20443944      10.0  349523
11    2015     3  20443944      10.0  350195
12    2015     3  20443943   90834.0  348627
13    2015     3  20443943   90834.0  349524
14    2015     3  20443943   90834.0  350196
15    2015     3  20443941   42072.0  348628
16    2015     3  20443941   42072.0  349525
17    2015     3  20443941   42072.0  350197
18    2015     3  20443902   69529.0  348629
19    2015     3  20443902   69529.0  349526
20    2015     3  20443902   69529.0  350198
21    2015     3  20443901   63746.0  348630
22    2015     3  20443901   63746.0  349527
23    2015     3  20443901   63746.0  350199
24    2015     3  20443308    2200.0  348631
25    2015     3  20443308    2200.0  349528
26    2015     3  20443308    2200.0  350200
27    2015     3  20443307    1150.0  348632
28    2015     3  20443307    1150.0  349529
29    2015     3  20443307    1150.0  350201
...    ...   ...       ...       ...     ...
1305  2015     4  20438922     242.0  349943
1306  2015     4  20438922     242.0  350615
1307  2015     4  20438922     242.0  351061
1308  2015     4  20438810      45.0  349959
1309  2015     4  20438810      45.0  350631
1310  2015     4  20438810      45.0  351077
1311  2015     4  20438809     100.0  349960
1312  2015     4  20438809     100.0  350632
1313  2015     4  20438809     100.0  351078
1314  2015     4  20438808     165.0  349961
1315  2015     4  20438808     165.0  350633
1316  2015     4  20438808     165.0  351079
1317  2015     4  20438804    5202.0  349962
1318  2015     4  20438804    5202.0  350634
1319  2015     4  20438804    5202.0  351080
1320  2015     4  20438803   47699.0  349963
1321  2015     4  20438803   47699.0  350635
1322  2015     4  20438803   47699.0  351081
1323  2015     4  20438802   20090.0  349968
1324  2015     4  20438802   20090.0  350640
1325  2015     4  20438802   20090.0  351086
1326  2015     4  20438801   15709.0  349964
1327  2015     4  20438801   15709.0  350636
1328  2015     4  20438801   15709.0  351082
1329  2015     4  20438734     200.0  349969
1330  2015     4  20438734     200.0  350641
1331  2015     4  20438734     200.0  351087
1332  2015     4  20438733    4489.0  349970
1333  2015     4  20438733    4489.0  350642
1334  2015     4  20438733    4489.0  351088

[1335 rows x 5 columns]

In [34]:
df['l']=df['f30'].apply(lambda x: math.floor(x*1.61))
df = df.sort_values('Num', ascending=True)

In [36]:
ans = df.get(['Num', 'l'])

In [37]:
ans

         Num         l
42    348622    1497.0
0     348623   27033.0
3     348624  297560.0
6     348625   29471.0
9     348626      16.0
12    348627  146242.0
15    348628   67735.0
18    348629  111941.0
21    348630  102631.0
24    348631    3542.0
27    348632    1851.0
30    348633   54997.0
33    348634  278979.0
36    348635   21963.0
45    348636    1948.0
48    348637  178790.0
51    348638  121619.0
54    348639  509841.0
57    348640  510745.0
60    348641    2336.0
63    348642  113226.0
66    348643   83468.0
69    348644    1215.0
72    348645   24232.0
75    348646   10949.0
78    348647  150512.0
81    348648    7489.0
297   348649   18666.0
129   348650    5530.0
90    348651   23602.0
...      ...       ...
1241  351057  157639.0
1244  351058  269655.0
1247  351059   88339.0
1250  351060  378622.0
1307  351061     389.0
1256  351062   23575.0
1265  351063   22097.0
1268  351066     611.0
1271  351067     128.0
1274  351068  144400.0
1277  351069  914924.0
1280  351070  402466.0
1283  351071  774335.0
1286  351072   32082.0
1289  351073    1191.0
1292  351074   37418.0
1298  351075  157749.0
1259  351076     225.0
1310  351077      72.0
1313  351078     161.0
1316  351079     265.0
1319  351080    8375.0
1322  351081   76795.0
1328  351082   25291.0
1295  351083  697062.0
1304  351084  646123.0
1301  351085  260617.0
1325  351086   32344.0
1331  351087     322.0
1334  351088    7227.0

[1335 rows x 2 columns]

In [38]:
ans.to_csv("leak.tsv", sep=',', index=False)